#map {
    flex: 0.75;
    padding: 10px;
}
/* 
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 */

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #49759fff;
}

.filter-section {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 8px;
    align-items: center;
    gap: 10px;
}

.main-content {
    display: flex;
    flex: 1;
    align-items: stretch;
    max-height: 100%;
    background-color: #49759fff;

}

.info-cards {
    flex: 0.25;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    border-right: 1px solid #ccc;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.input-container {
    display: flex;
    align-items: center;
    width: 45%;
    position: relative;
}

#autocomplete {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    padding-right: 35px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

#resetMapButton,
#locationButton {
    padding: 7px 10px;
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: .75rem;
}

#resetButton {
    position: absolute;
    right: 5px;
    /* Adjust the positioning as needed */
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 10;
}

#resetButton:focus {
    outline: none;
}

#resetMapButton:hover,
#locationButton:hover {
    background-color: #0056b3;
}

.info-window-buttons {
    position: absolute;
    bottom: 10px;
    right: 8px;
}

.link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-button {
    margin: 2px 4px;
    padding: 3px;
    text-decoration: none;
}

.trackLink {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.trackLink:hover {
    text-decoration: underline;
}

/* Define the keyframes for the spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    animation: spin 2s linear infinite; 
  }
  

@media (max-width: 768px) {
    .filter-section>select {
        justify-content: center;
        width: 100%;
    }

    .main-content {
        flex-direction: column;
    }

    .info-cards {
        flex: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        order: 2;
        overflow-y: scroll;
        max-height: 70%;
    }

    #map {
        flex: none;
        height: 100%;
    }

    .filter-section {
        flex-direction: row;
        align-items: center;
    }

    .filter-section label,
    .filter-section select,
    .filter-section button {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .input-container {
        width: 60%;
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .filter-section {
        /* Stack elements vertically on small screens */
        flex-direction: column;
        align-items: stretch;
        /* Stretch items to fill the width */
    }

    #resetMapButton,
    #locationButton {
        width: 100%;
    }

    .button-container {
        flex-direction: row;
        gap: 10px;
        /* Maintain gap between buttons */
    }

    .input-container {
        width: 97%;
    }
}


@media (max-width: 480px) {
    .search-container {
        /* Adjust styles for mobile screens. For example, increase the size of the input for better usability. */
        font-size: 1.2rem;
    }
}

@media (max-width: 376px) {
    .buttonContainer {
        flex-direction: row;
    }

    #resetMapButton {
        margin-right: 5px;
    }

    #locationButton {
        margin-left: 5px;
    }
}