* {
    margin: 0;
    padding: 0;
}

#map {
    flex: 0.75;
    padding: 10px;
}

html,
body {
    height: 100%;
}



body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border: 1px solid #ccc;
    border-radius: 1%;
}

.filter-section {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 8px; /* Optional: Add some margin for spacing */
}

.apply-filter,
.remove-filter {
    padding: 7px 10px;
    background-color: #007BFF; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
}

.apply-filter:hover,
.remove-filter:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    flex: 1;
    align-items: stretch;
    max-height: 100%;
    background-color: #49759fff;

}
.info-cards {
    flex: 0.25;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    border-right: 1px solid #ccc;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}




@media (max-width: 768px) {
    
    .filter-section > select {
        justify-content: center; /* Center the filter options on smaller screens */
        width: 100%; /* Take up the full width */
    }

    .filter-section button {
        width: 100%; /* Make the button take up the full width */
        margin-top: 10px; /* Add some margin to the top of the button */
    }
    .main-content {
        flex-direction: column;
    }

    .info-cards {
        flex: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        order: 2;
        overflow-y: scroll;
        max-height: 70%;
    }

    #map {
        flex: none;
        height: 100%;
    }
    .filter-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .filter-section label,
    .filter-section select,
    .filter-section button {
        margin-bottom: 0;
        margin-right: 10px; 
    }
}

